/* ButtonStyles.css */
.container{
  font-family: Cambria;
  
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: Cambria;
     }
  
  .navigation-button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .navigation-button:hover {
    background-color: #f0f0f0;
  }

  .form-control{
    /* opacity: 40%; */
    /* color: black; */
  }